.singleitem {
    max-width: 1296px;
    margin: 20px auto;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_container {
        display: grid;
        width: 820px;
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px;
        row-gap: 20px;
        column-gap: 20px;
        &-img {
            width: 400px;
            height: 400px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        }
        &-img:hover {
            transition: all 280ms;
            box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.4);
        }
    }
    &__descr {
        width: 436px;
    }
    &_label {
        display: block;
        &-feature {
            font-weight: 700;
            font-size: 28px;
            line-height: 21px;
        }
        &-feature::after {
            position: absolute;
            transform: translateY(-8px) translateX(2px);
            font-size: 16px;
            content: "тм";
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        &-name {
            font-weight: 700;
            font-size: 24px;
            line-height: 21px;
        }
        &-price {
            // font-weight: 700;
            font-size: 22px;
            line-height: 21px;
        }
    }
    &_sizes {
        margin-top: 50px;
        &-title {
            font-size: 16px;
        }
        &-sizebutton {
            margin-left: 1px;
            color: rgb(182, 182, 182);
            background-color: white;
            border-radius: 6px;
            border: 1px solid;
            width: 24.7%;
            height: 40px;
        }
        &-sizebutton:hover {
            transition: all 350ms;
            background-color: rgb(168, 168, 168);
        }
    }
    &-add {
        padding-bottom: 4px;
        margin-top: 25px;
        width: 75%;
        height: 50px;
        background: #1B1F23;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        border: 0;
    }
    &-add:hover {
        transition: all 350ms;
        background: #393d42;;
    }
    &_tabs {
        margin-top: 25px;
        &_container {
            margin-top: 10px;
        }
        &-button {
            margin-left: 1px;
            color: black;
            background-color: gainsboro;
            border: 0;
            width: 24.7%;
            height: 40px;
        }
        &-button:hover {
            // color: rgb(255, 255, 255);
            transition: all 350ms;
            background-color: rgb(202, 202, 202);
        }
    }
    &_content {
        width: 100%;
        &-item {
            margin-top: 16px;
            display: none;
            font-size: 14px;
        }
    }
}

.is-active {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}

.is-active:hover {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}

.is-activecontent {
     display: block;
}

.is-activesize {
    color: black;
    background-color: gainsboro;
    border: 0;
}

.is-choosedsize {
    transition: all 350ms;
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
    // border: 0;
}

.is-choosedsize:hover {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}