.cart {
    &_wrapper {
        animation: 1s show ease;
        max-width: 1296px;
        margin: 0 auto;
    }
    &_label {
        margin-top: 12px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 0;
    }
    &_title {
        display: flex;
        margin-top: 24px;
        &-item {
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #999999;
        }
        &-item:nth-child(1) {
            margin-right: 691px;
        }
        &-item:nth-child(2) {
            margin-right: 159px;
        }
        &-item:nth-child(3) {
            margin-right: 159px;
        }
    }
    &_line {
        margin-top: 18px;
        margin-bottom: 1px;
        width: 100%;
        height: 1px;
        background-color: #999999;
    }
    &__cost {
        background-color: #F2F2F2;
        height: 119px;
        display: flex;
        justify-content: space-between;
        &_promo {
            padding-top: 19px;
            margin-left: 32px;
            width: 210px;
            &-text {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #999999;
            }
            &-button {
                margin-top: 20px;
                margin-left: 2px;
                padding-bottom: 2px;
                padding: 2px 0;
                text-align: center;
                width: 28px;
                height: 28px;
                background: #1B1F23;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                border: 0;
            }
            &-input {
                width: 179px;
                height: 28px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: 1px;
                border-radius: 7px;
            }
        }
        &_price {
            margin-top: 19px;
            margin-right: 8px;
            display: grid;
            row-gap: 13px;
            column-gap: 128px;
            grid-template-columns: 100px 100px;
            &-item {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #999999;
            }
            &-wrapper {
                display: flex;
            }
            &-discount {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
            &-value {
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
        }
    }

    &__descr {
        margin-top: 19px;
        margin-right: 70px;
        &_wrapper {
            margin-top: 13px;
            display: flex;
        }
        &-img {
            padding-right: 39px;
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #000000;
        }
        &-text {
            width: 270px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #999999;
        }
    }
    &__item {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        &_wrapper {
            display: none;
            flex-direction: column;
        }
        &-img {
            border: 1px solid #999999;;
            width: 151px;
            height: 151px;
        }
        &-name {
            padding-top: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
        }
        &-descr {
            width: 450px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #999999;
        }
        &-size {
            margin-left: 60px;
            padding-top: 16px;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #999999;
        }
        &_quantity {
            margin-left: 156px;
            display: flex;
            width: 100px;
            &-counter {
                padding-top: 18px;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #999999;
            }
            &-reduce {
                margin-right: 5px;
                margin-top: 22px;
                padding: 0 0 3px 0;
                width: 12px;
                height: 12px;
                background: #FFFFFF;
                border: 1px solid #999999;
                border-radius: 100%;
                font-weight: 700;
                font-size: 12px;
                line-height: 0px;
                text-align: center;
                color: #999999;
            }
            &-add {
                margin-left: 5px;
                margin-top: 22px;
                padding: 0 0 3px 0;
                width: 12px;
                height: 12px;
                background: #FFFFFF;
                border: 1px solid #999999;
                border-radius: 100%;
                font-weight: 700;
                font-size: 12px;
                line-height: 0px;
                text-align: center;
                color: #999999;
            }
        }
        &-price {
            width: 70px;
            margin-left: 80px;
            margin-right: 40px;
            padding-top: 16px;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #000000;
        }
    }
}

.promo-true {
    background: green;
}

@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}

@media (max-width: 1200px) {
    .cart {
        &__item {
            &-img {
                margin-left: 10px;
            }
        }
        &_title {
            display: flex;
            margin-top: 24px;
            &-item:nth-child(1) {
                margin-left: 4px;
                margin-right: 53.5%;
            }
            &-item:nth-child(2) {
                margin-right: 10.5%;
            }
            &-item:nth-child(3) {
                margin-right: 11%;
            }
        }
    }
}

@media (max-width: 992px) {
    .cart {
        &__item {
            &-img {
                width: 151px;
                height: 151px;
            }
            &-descr {
                width: 200px;
            }
            &-size {
                margin-left: 60px;
            }
        }
        &_title {
            &-item:nth-child(1) {
                margin-right: 42%;
            }
            &-item:nth-child(2) {
                margin-right: 13.5%;
            }
            &-item:nth-child(3) {
                margin-right: 14.5%;
            }
        }
    }
}

@media (max-width: 768px) {
    .cart {
        &__item {
            &-img {
                width: 120px;
                height: 120px;
            }
            &-descr {
                display: none;
            }
            &-size {
                margin-left: 70px;
            }
            &_quantity {
                margin-left: 130px;
            }
            &-price {
                margin-left: 36px;
                margin-right: 10px;
            }
        }
        &_title {
            &-item:nth-child(1) {
                margin-right: 40%;
            }
            &-item:nth-child(2) {
                margin-right: 13.5%;
            }
            &-item:nth-child(3) {
                margin-right: 12.5%;
            }
        }
        &__descr {
            margin-left: 30px;
            &-text {
                width: 100%;
            }
        }
        &__descr {
            margin-top: 60px;
        }
    }
}

// @media (max-width: 576px) {
//     .cart {
//         &__item {
//             &-img {
//                 width: 100px;
//                 height: 100px;
//             }
//             &-name {
//                 font-size: 18px;
//             }
//             &-size {
//                 margin-left: 30px;
//             }
//             &_quantity {
//                 justify-content: end;
//                 margin-left: 30px;
//                 &-reduce {
//                     padding: 0 0 4px 0;
//                     margin-top: 20px;
//                     width: 16px;
//                     height: 16px;
//                     font-size: 16px;
//                 }
//                 &-add {
//                     padding: 0 0 4px 0;
//                     margin-top: 20px;
//                     width: 16px;
//                     height: 16px;
//                     font-size: 16px;
//                 }
//             }
//             &-price {
//                 margin-left: 36px;
//                 margin-right: 10px;
//             }
//         }
//         &_title {
//             &-item:nth-child(1) {
//                 margin-right: 40%;
//             }
//             &-item:nth-child(2) {
//                 margin-right: 8.5%;
//             }
//             &-item:nth-child(3) {
//                 margin-right: 6.5%;
//             }
//         }
//         &__cost {
//             &_price {
//                 column-gap: 60px;
//             }
//         }
//         &__descr {
//             margin-top: 100px;
//         }
        
//     }
// }

@media (max-width: 576px) {
    .cart {
        &__item {
            &-name {
                padding-top: 13px;
                font-size: 18px;
            }
            &-img {
                display: none;
            }
            &-imgsmall {
                border: 1px solid #999999;
                width: 100px;
                height: 100px;
            }
            &_wrapper {
                width: 100px;
                margin-left: 4px;
                display: flex;   
            }
            &_quantity {
                display: none;
                &-counter {
                    margin-top: 4px;
                    font-size: 20px;
                }
                &-add {
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                }
                &-reduce {
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                }
            }
            &_quantitysmall {
                margin-left: 19px;
                display: flex;
                width: 100px;
            }
            &-size {
                margin-left: 5%;
            }
            &-price {
                margin-right: 0;
            }
        }
        &_title {
            &-item:nth-child(1) {
                margin-right: 51%;
            }
            &-item:nth-child(2) {
                margin-right: auto;
            }
            &-item:nth-child(3) {
                display: none;
            }
            &-item:nth-child(4) {
                margin-right: 10px;
            }
        }
        &__cost {
            &_promo {
                width: 150px;
                margin-left: 10px;
                &-input {
                    margin-top: 11px;
                    width: 100px;
                }
                &-button {
                    width: 30px;
                }
            }
            &_price {
                grid-template-columns: 80px 80px;
                grid-template-rows: 30px 30px;
                &-item {
                    height: 20px;
                }
                column-gap: 20px;
                row-gap: 2px;
            }
        }
        &__descr {
            margin-top: 120px;
            width: 90%;
        }
    }
}