.footer {
    margin-top: 120px;
    &_name {
        font-family: 'Guerrilla';
        font-size: 42px;
        margin-left: 40px;
        margin-top: 40px;
        position: relative;
        color: #1B1F23;
    }
    &_number {
        font-size: 20px;
        margin-left: 40px;
        color: #1B1F23;
    }
    &_menu {
        text-align: right;
        padding-bottom: 20px;
        &-item {
            margin-top: 12px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        margin-top: 20px;
        &_name {
            margin-left: 0;
            margin-top: 0;
        }
        &_number {
            margin-left: 0;
        }
    }
}

@media (max-width: 390px) {
    .footer {
        &_menu {
            &-item {
                font-size: 15px;
            }
        }
    }
}