.app {
  animation: 1s show ease;
  &_products {
    margin-top: 40px;
    max-width: 1296px;
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }

@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}
}