.singleitem {
    animation: 1s show ease;
    max-width: 1296px;
    margin: 20px auto;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_container {
        display: grid;
        width: 840px;
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px;
        row-gap: 20px;
        column-gap: 20px;
        &-img {
            width: 100%;
            height: 100%;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        }
        &-img:hover {
            transition: all 280ms;
            box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.4);
        }
    }
    &__descr {
        width: 436px;
    }
    &_label {
        display: block;
        &-feature {
            font-weight: 700;
            font-size: 28px;
            line-height: 21px;
        }
        &-feature::after {
            position: absolute;
            transform: translateY(-8px) translateX(2px);
            font-size: 16px;
            content: "тм";
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        &-name {
            font-weight: 700;
            font-size: 24px;
            line-height: 21px;
        }
        &-price {
            // font-weight: 700;
            font-size: 22px;
            line-height: 21px;
        }
    }
    &_sizes {
        margin-top: 50px;
        &-title {
            font-size: 16px;
        }
        &-sizebutton {
            cursor: not-allowed;
            margin-left: 1px;
            color: rgb(182, 182, 182);
            background-color: white;
            border-radius: 6px;
            border: 1px solid;
            width: 24.7%;
            height: 40px;
        }
        &-sizebutton:hover {
            transition: all 350ms;
            background-color: rgb(168, 168, 168);
        }
    }
    &-add {
        padding-bottom: 4px;
        margin-top: 25px;
        width: 75%;
        height: 50px;
        background: #1B1F23;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        border: 0;
    }
    &-add:hover {
        transition: all 350ms;
        background: #393d42;;
    }
    &_tabs {
        margin-top: 25px;
        &_container {
            margin-top: 10px;
        }
        &-button {
            margin-left: 1px;
            color: black;
            background-color: gainsboro;
            border: 0;
            width: 24.7%;
            height: 40px;
        }
        &-button:hover {
            // color: rgb(255, 255, 255);
            transition: all 350ms;
            background-color: rgb(202, 202, 202);
        }
    }
    &_content {
        width: 100%;
        &-item {
            margin-top: 16px;
            display: none;
            font-size: 14px;
        }
    }
}

.big {
    &_wrapper {
        animation: 0.3s show ease;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 150%;
    }
    &_img {
        z-index: 10;
        margin: 2% auto;
        width: 50%;
    }
}

.is-active {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}

.is-active:hover {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}

.is-activecontent {
     display: block;
}

.is-activesize {
    color: black;
    background-color: gainsboro;
    border: 0;
}

.is-choosedsize {
    transition: all 350ms;
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
    // border: 0;
}

.is-choosedsize:hover {
    color: rgb(255, 255, 255);
    background-color: #1B1F23;
}

.choose {
    background: red;
}

.choose:hover {
    background: red;
}

.added {
    transition: all 300ms;
    background: green;
}
.added:hover {
    transition: all 300ms;
    background: green;
}

@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}

@media (max-width: 1200px) {
    .singleitem {
        &_container {
            width: 620px;
            grid-template-columns: 280px 280px;
            grid-template-rows: 280px 280px;
            row-gap: 20px;
            column-gap: 20px;
        }
    }
    .big {
        &_img {
            width: 80%;
        }
    }
}

@media (max-width: 992px) {
    .singleitem {
        &_container {
            width: 100%;
            grid-template-columns: 200px 200px;
            grid-template-rows: 200px 200px;
            row-gap: 10px;
            column-gap: 10px;
        }
        &_sizes {
            margin-top: 20px;
        }
    }
    .big {
        &_img {
            width: 80%;
            height: 80%;
        }
    }
}

@media (max-width: 768px) {
    .singleitem { 
        &__wrapper {
            display: block;
            margin: 20px 1%;
        }
        &_container {
            margin: 0 auto;
            width: 566px;
            height: 566px;
            grid-template-columns: 278px 278px;
            grid-template-rows: 278px 278px;
            row-gap: 10px;
            column-gap: 10px;
        }
        &_sizes {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 15px;
            width: 100%;
        }
        &-add {
            width: 100%;
        }
    }
    .big {
        &_img {
            width: 80%;
            height: 60%;
        }
    }
}

@media (max-width: 576px) {
    .singleitem { 
        &__wrapper {
            display: block;
            margin: 20px 2.5%;
        }
        &_container {
            width: 410px;
            height: 410px;
            grid-template-columns: 48.5% 48.5%;
            grid-template-rows: 48.5% 48.5%;
            row-gap: 10px;
            column-gap: 10px;
        }
    }
    .big {
        &_img {
            margin: 30% auto;
            width: 80%;
            height: 40%;
        }
    }
}

@media (max-width: 390px) {
    .singleitem { 
        &__wrapper {
            display: block;
            margin: 20px 2.5%;
        }
        &_container {
            width: 370px;
            height: 370px;
            grid-template-columns: 180px 180px;
            grid-template-rows: 180px 180px;
            row-gap: 10px;
            column-gap: 10px;
        }
        &_sizes {
            margin-top: 20px;
        }
        &_tabs {
            &-button {
                padding: 0;
            }
        }
    }
}