.cart {
    &__purchase {
        display: flex;
        justify-content: space-between;
        &_form {
            // margin-top: 19px;
            padding-top: 19px;
            padding-left: 28px;
            height: 340px;
            width: 633px;
            background-color: #F2F2F2;
            &-name {
                margin-top: 19px;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #999999;
            }
            label {
                margin-right: 250px;
                display: flex;
                justify-content: space-between;
            }
            &-input {
                margin-top: 17px;
                width: 199px;
                height: 28px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px;
                border: 0;
            }
            &-check {
                opacity: 1;
                margin-top: 24px;
                content: '';
                // width: 20px;
                height: 16px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px;
                border: 0;
            }
            &-checkname {
                margin-top: 21px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #999999;
            }
            &-button {
                padding-bottom: 4px;
                margin-top: 25px;
                width: 128px;
                height: 28px;
                background: #1B1F23;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #FFFFFF;
                border: 0;
            }
        }
    }
}

.error {
    color: #e53e3e;
}

@media (max-width: 992px) {
    .cart {
        &__purchase {
            &_form {
                width: 688px;
                &-name {
                    width: 130px;
                }
                &-input {
                    width: 199px;
                    margin-left: 80px;
                }
                label {
                    margin-right: 160px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .cart {
        &__purchase {
            display: block;
            &_form {
                width: 768px;
                &-input {
                    width: 300px;
                    margin-left: 130px;
                }
                label {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &__purchase {
            &_form {
                width: 576px;
            }
        }
    }
}

@media (max-width: 390px) {
    .cart {
        &__purchase {
            &_form {
                width: 390px;
                &-input {
                    width: 300px;
                    margin-left: 40px;
                }
            }
        }
        
    }
}
