.category {        
    &_wrapper {
        margin-top: 40px;
        max-width: 1296px;
    }
    &_row {
        padding-left: 3px;
        display: flex;
        justify-content: space-between;
    }
}
@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}

// @media (max-width: 992px) {
//     .category {
//         &_wrapper {
//             justify-content: center;
//         }
//     }
// }
