.appheader {
    &_logo {
        font-family: 'Guerrilla';
        // padding-bottom: 10px;
        // width: 150px;
        padding-bottom: 6px;
        padding-right: 10px;
        font-size: 24px;
        font-family: 'Guerrilla';
    }
    &_logo:hover {
        color: black
    }
}
.link {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    text-decoration: none;
    &_cart {
        margin-top: 8px;
        color: rgba(0, 0, 0, 0.9);
        font-size: 16px;
        text-decoration: none;
    }
    &_cartmobile {
        display: none;
    }
    &_wrapper {
        display: flex;
    }
    &_counter {
        visibility: hidden;
        font-size: 12px;
        padding-left: 5px;
        // padding-bottom: 20px;
        margin-left: 6px;
        width: 18px;
        height: 18px;
        color: white;
        background-color: #1B1F23;
        border-radius: 100%;
        .active {
            visibility: visible;
        }
    }
}


@media (max-width: 991px) {
    .link {
        &_cart {
            display: none;
        }
        &_cartmobile {
            text-decoration: none;
            display: block;
            margin-right: auto;
        }
        &_cart-icon {
            width: 25px;
        }
        &_counter {
            font-size: 10px;
            margin-left: 2px;
            margin-top: -8px;
            width: 16px;
            height: 16px;
        }
    }
}